{% extends 'adminLayout.html.twig' %}

{% block title %}Edit Enterprise
{% endblock %}

{% block body %}

	<h1 class="text-center m-5">Modifier
		{{enterprise.name}}</h1>
	<div class = "container">
		{{ include('enterprise/_form.html.twig', {'button_label': 'Modifier'}) }}</div>
{% endblock %}
