{% extends 'adminLayout.html.twig' %}

{% block title %}Nouvelle entreprise
{% endblock %}

{% block body %}
	<main class="container">
		<h1 class="text-center m-5">Créer une nouvelle entreprise</h1>

		{{ include('enterprise/_form.html.twig') }}
	</main>
{% endblock %}
