{% extends 'layout.html.twig' %}

{% block title %}Hackathon
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}
	<div class="container-fluid d-flex justify-content-center align-items-center header">
		<h1 class="title-header border border-dark border-3 p-2 rounded">Bienvenue chez Apside collaboration</h1>
	</div>
{% endblock %}
