{% extends 'baseAdmin.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
<h1 class="position-absolute top-50 start-50 translate-middle"> Bienvenue sur la page Admin. </h1>
{% endblock %}
