@import "variable.scss";
@import "~bootstrap/scss/bootstrap";
@import "navbar.scss";
@import "footer.scss";


body {
    background-color:#F0F0F0;
}

h1, h2, h3{
    font-family: $title-font;
}

p{
    font-family: $text-font;
}

.footer{
    min-height: 68vh;
}